<<<<<<< HEAD
.about_top_container{
	display: flex;
	justify-content: center;
	width: 100%;
	text-align: left;
	padding-top: 8em;
}

.about_top_container .top_image{
	width: 50%;
	/* padding-left: 5em; */
}
.about_top_container .top_texts{
	width: 50%;
	padding-left: 5em;
}

.top_texts h1{
	width: auto;
}

.about_top_container p{
	width: auto;
	height: 10em;
	font-style: normal;
	font-weight: 600;
	font-size: 1.6em;
	line-height: 2;
	letter-spacing: 0.09em;
	color: #8B8B8B;
}

.about_top_container img{
	width: auto;
	height: 34.7em;
}

.images_and_text{
	display: flex;
	justify-content: center;
	padding:  10em 0;
}

.images .box_container{
	display: flex;
	justify-content:space-around;
}

.images, .text{
	display: inline-block;
	width: 50%;
}

.images{
	padding-top: 10em;
}

.box_container img{
	width: 24em;
	height: 31em;
	margin: 2em 0;
	border-radius: 0.625em;
}

.text h3{
	width: 7em;
	height: 1.5em;
	font-style: normal;
	font-weight: 800;
	font-size: 36px;
	line-height: 127.7%;
	text-align: left;
	letter-spacing: 0.03em;
	color: #4F7F4E;
}

.the_vision .text_p, .the_mission .text_p{
	width: 56em;
	height: 35em;
	background: #FFFFFF;
	box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.1);
	border-radius: 2.125em;
	margin-bottom: 5em;
}

.the_statement .text_p{
	width: 56em;
	height: 56em;
	background: #FFFFFF;
	box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.1);
	border-radius: 34px;
	margin-bottom: 1em;
}



.text_p p{
	width: 18em;
	height: 10.25em;
	font-style: normal;
	font-weight: 600;
	font-size: 2.5em;
	text-align: left;
	line-height: 1.8;
	letter-spacing: 0.03em;
	margin: auto;
	padding-top: 3em;
	color: #888282;
}

.green{
	margin-bottom: 1em;
=======
/* screens from 1291px to 1330px */

@media only screen and (max-width: 1330px) {

    

}

/* screens from 1221px to 1290px */

@media only screen and (max-width: 1290px) {

    

}

/* screens from 1151px to 1220px */

@media only screen and (max-width: 1220px) {

    

}

/* screens from 1051px to 1150px */

@media only screen and (max-width: 1150px) {

   

}

/* screens from 971px to 1050px */

@media only screen and (max-width: 1050px) {

    

}

/* screens from 916px to 970px */

@media only screen and (max-width: 970px) {

    

}

/* screens from 769px to 915px */

@media only screen and (max-width: 915px) {

    
    

}

/* screens from 501px to 768px */

@media only screen and (max-width: 768px) {


     
}

/* screens from 426px to 500px */

@media only screen and (max-width: 500px) {

    

}

/* screens from 376px to 425px */

@media only screen and (max-width: 425px) {



}

/* screens from 321px to 375px */

@media only screen and (max-width: 375px) {

    

}

/* screens from 0 to 320px */

@media only screen and (max-width: 320px) {

    

>>>>>>> ca58420a4ed5219c4850876e284c5ecf1203744b
}