*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;          /* 10px = 1em */
    font-family: 'Roboto', sans-serif;
}

/* body {
    
} */

.container {
    width: 90%;
    max-width: 1200;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/* footer begins */


footer {
    padding: 5em 0;
    background-image: url(img/Footerbg.png);
    background-position: center;
    background-size: cover;
}

.footer-head {
    color: #ffffff;
    font-size: 38px;
    font-weight: 500;
    margin-top: 1em;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;
}

.footer-list-icon,
.footer-list-nav,
.footer-list-text {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
}

.footer-list-nav li a,
.footer-list-text li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}

.footer-copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.copy-text {
    color: #ffffff;
    font-size: 24px;
}