*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px = 1em */
  font-family: "Poppins", "Raleway", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

/* font-family for headings, p and buttons defined */

h1, h2, h3, h4{
  font-family: "Raleway", sans-serif;
}

p, .btn{
  font-family: "Poppins", sans-serif;
}

.container {
  width: 90%;
  max-width: 1200;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/* header begins */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 5em;
  width: 14em;
}

.header-nav {
  padding: 2em 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
}

.header-nav li:last-of-type {
  background-color: #329530;
  padding: 1.4em 2.8em;
  color: #ffffff !important;
  border-radius: 5em;
}

.header-nav li:last-of-type a {
  color: #ffffff;

  /* added the stylings below because i removed the nav-links class from
    this element
   */
  text-decoration: none;
  font-size: 1.6em;
}

.header-nav li .nav-links {
  text-decoration: none;
  color: #423c3c;
  font-size: 1.6em;

  /* added a position relative to help with the hover effect */
  position: relative;
}

/* 
    wrote this styles to help with the nav-toggler and 
    add some aesthetic 
                @uzor
 */

.header-nav li .nav-links::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0.2em;
  background: #329530;
  border-radius: 0.5em;
  top: -1em;
  right: 0;
  transition: all 0.3s ease-in;
}

.header-nav li .nav-links:hover:after {
  width: 100%;
  left: 0;
}

.header-nav li .nav-links.nav-links-active::after {
  width: 100%;
}

/* styling for body commences here */

main{
  text-align: center;
}

#top{
  margin-top: 5em;
  background-color: #FBFBFB;;
}

h1{
  font-size: 5.5em;
  line-height: 1.3;
  color: #323030;
  font-weight: 800;
}

.green{
  color: #4F7F4E;;
}

.section-authority {
  background-color: #FBFBFB;
}

.authority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 3em 2em;
  
}

.zuri-text {
  color: #C4B8B8;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.slack {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
}

.top_container p{
  font-size: 2.6em;
  font-weight: 600;
  letter-spacing: 0.09em;
  line-height: 1.3em;
  width: 60%;
  margin: 1.5em auto;
  color: #8B8B8B;
}

.btn{
  display: block;
  margin: 4em auto 1.5em;
  width: 25%;
  padding: 1em 2.8em;
  background-color: #329530;
  color: #ffffff !important;
  border: none;
  border-radius: 5em;
  font-size: 2em;
  font-weight: 600;
}

#action{
  background-color: #FBFBFB;
}

.todo .what_we_do{
  width: 11.4em;
  height: 2.56em;
  font-style: normal;
  font-weight: 600;
  font-size: 1.625em;
  line-height: 2.5em;
  letter-spacing: 0.03em;
  color: #888282;
  margin: 4em auto 0.5em;
}

.todo h3{
  width: 45%;
  margin: 1em auto;
  font-size:3.6em;
  font-weight: 800;
  line-height: 1.2;
  color: #323030;
}

.list_todo{
  display: flex;
  margin: 3em auto 3em auto;
}

.steps{
  margin: 0.5em auto;
  height: 22em;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.list_todo img{
  margin-top: 2.5em; 
  width: 2.8em;
  height: 2.8em;
}

.list_todo h4{
  width: 10em;
  height: auto;
  font-weight: bold;
  font-size: 2.7em;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin:.5em auto .5em;
}

.list_todo p{
  width: 22em;
  height: 3.5em;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 1.7em;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 1em auto;
  color: #727672;
}

.workings p{
  width: 13.75em;
  height: 2.6em;
  font-style: normal;
  font-weight: 600;
  font-size: 1.625em;
  line-height: 2.5em;
  letter-spacing: 0.03em;
  margin: 1em auto;
  color: #888282;
}

.workings h3{
  width: 40.4em;
  height: 2.9em;
  font-style: normal;
  font-weight: 800;
  font-size: 2.2em;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.03em;
  margin: auto;
  color: #323030;
}

.tell_us {
  width: 100%;
  height: 40.9;
  background: linear-gradient(102.08deg, #4F7F4E -5.5%, #70C76E 103.6%);
}

.container .tell_us_location{
  width: 100%;
  text-align: left;
}

.tell_us .container{
  display: flex;
}

.tell_us_location .step_p1{
  width: 6.25em;
  height: 2.75em;
  font-size: 1.75em;
  font-style: normal;
  font-weight: 600;
  line-height: 156.7%;
  /* identical to box height, or 44px */

  letter-spacing: 0.03em;

  color: #F6F6F6;
}







/* footer begins */

footer {
  padding: 5em 0;
  background-image: url(img/Footerbg.png);
  background-position: center;
  background-size: cover;
}

.footer-head {
  color: #ffffff;
  font-size: 3em;
  font-weight: 500;
  margin-top: 1em;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
}

.footer-list-icon,
.footer-list-nav,
.footer-list-text {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5em;
  align-items: center;
}

.footer-list-nav li a,
.footer-list-text li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6em;
}

.footer-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.copy-text {
  color: #ffffff;
  font-size: 1.6em;
}


/* REPORT PAGE CSS */

.report-container-1 {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.first-box {
  width: 100%;
}

.situation {
  padding: 1em 6em 1em 2em;
  background-color: rgba(195, 225, 195, 0.6);
  outline: none;
  border-radius: 1.3em;
  width: 150%;
}


/* ABOUT PAGE CSS */
